.navbar-brand {
  font-size: 5vh !important;
  padding-left: 1.5rem;
}

nav {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0;
  list-style: none;
  margin-left: 0px;
}
nav li {
  display: inline-block;
  text-align: center;
}

.name{
  display: block;
  margin: 0 auto;
  text-align: center;
  color: beige;
}