<div class="card">
  <div class="card-header">
    Añadir tarea
  </div>
  <div class="card-body">
    <form (submit)="addTask()" autocomplete="off">
      <div class="form-group">
        <input type="text" placeholder="Título" class="form-control" name="title" [(ngModel)]="title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" style="background-color:  #3d3d3d !important;" placeholder="Descripción" name="descripcion" [(ngModel)]="descripcion">
      </div>
      <div class="text-center">
        <input type="submit" value="Añadir tarea" class="btn btn-success">
      </div>
    </form>
  </div>
</div>
