<div class="card task-component" [ngStyle]="{'background-color':task.color}">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-md-8">
        <p class="txt-title">{{ task.title }}</p>
      </div>
      <div class="col-12 col-md-4 mt-2">
        <div class="float-md-right float-left" style="color: #fff">
          <a (click)="task.hide = !task.hide" class="btn btn-info">
            {{ task.hide ? "Mostrar" : "Ocultar" }}
          </a>
          &nbsp;
          <a (click)="removeTask(task)" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" [hidden]="task.hide">
    <p>{{ task.description }}</p>
  </div>
</div>