p{
  margin-bottom: 0;
}

.card {
  background-color:#3d3d3d00 !important;
  color: white;
}
.card-header {
  border-bottom: none !important;
  background-color: transparent !important;
}


.txt-title {
  font-size: 2rem;
}

.task-component{
  border-radius: 50px;
}

@media only screen and(max-width: 500px) {
  .txt-title {
    font-size:1rem,
  }
}
