<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h2>{{ task.title }}</h2>
      </div>
      <div class="col">
        <div class="float-right" style="color: #fff">
          <a (click)="task.hide = !task.hide" class="btn btn-info">
            {{ task.hide ? "Mostrar" : "Ocultar" }}
          </a>
          &nbsp;
          <a (click)="removeTask(task)" class="btn btn-danger"> Eliminar </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" [hidden]="task.hide">
    <p>{{ task.description }}</p>
  </div>
</div>
